@tailwind base;
@tailwind components;
@tailwind utilities;

#app_body {
  height: 100vh !important;
  overflow: hidden;
}

.messages_screen {
  height: 63%;
  overflow-y: scroll;
}

@media screen and (min-width: 641px) {
  .d-none-lg {
    display: none !important;
  }
}

@media screen and (max-width: 640px) {
  .mb_nav_list {
    margin-top: 15px !important;
  }
  .d-none-mb {
    display: none !important;
  }
}
